.projects {
    min-height: fit-content;
}

.todemo {
text-decoration: none;
color:#fff;
background: #0d6efd;
padding: 5px 15px;
border-radius: 5px;
margin-right: 20px;
}

.projectcard{
    box-shadow:0 0 4px rgba(0,255,255,0.2)

}

.projectimg{
    object-fit: cover;
}


.active {
    background-color: rgb(132, 58, 188)!important;
    border: none!important;
    color:#fff
    !important;
}

@media (max-width:615px) {
  .cards{
        width: 100%;
  }
  .projects {
    margin-top: 150px;
  }
  .projectcard {
    max-width: 85%;

  }
  .projectcard img {
    object-fit: cover;

  }
}
@media (max-width:460px) {
  .projectcard {
    max-width: 70%;
  }
  .card-body{
    text-align: center;
  }
    .filter {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width:370px) {
  .projectcard {
    max-width: 50%;
  }

  
}
